name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read # Read access to repository contents
  pages: write # Write access to GitHub Pages
  id-token: write # Write access to ID tokens

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
      # - uses: leanprover-community/docgen-action@v1

  docs:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags

      - name: Build the project
        uses: leanprover/lean-action@f807b338d95de7813c5c50d018f1c23c9b93b4ec # v1.2.0

      - name: Cache API docs
        uses: actions/cache@v4
        with:
          path: |
            .lake/build/doc/Aesop
            .lake/build/doc/Batteries
            .lake/build/doc/find
            .lake/build/doc/Init
            .lake/build/doc/Lake
            .lake/build/doc/Lean
            .lake/build/doc/Mathlib
            .lake/build/doc/Std
          key: Docs-${{ hashFiles('lake-manifest.json') }}

      - name: Build project API documentation
        run: ~/.elan/bin/lake -R -Kenv=dev build Newton:docs

      - name: Copy API documentation to `web_site/public/docs`
        run: cp -r .lake/build/doc web_site/public/docs

      - name: Remove unnecessary lake files from documentation in `web_site/public/docs`
        run: |
          find web_site/public/docs -name "*.trace" -delete
          find web_site/public/docs -name "*.hash" -delete

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: web_site/package-lock.json

      - name: Install dependencies
        working-directory: web_site
        run: npm ci

      - name: Run TypeScript type check
        working-directory: web_site
        run: npm run typecheck

      - name: Run ESLint
        working-directory: web_site
        run: npm run lint

      - name: Build website using Vite
        working-directory: web_site
        run: npm run build

      - name: "Upload website"
        uses: actions/upload-pages-artifact@v3
        with:
          path: web_site/dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Make sure the API documentation cache works
        run: mv web_site/public/docs .lake/build/doc
